.aboutHero {
    background: url(/src/assets/aboutHero.jpg);
    background-size: cover;
    height: 70vh;
}

.whyChooseUs {
    background: url(/src/assets/whyChooseUs.jpg);
    background-size: cover;
}

.strength {
    height: 100%;
}

.card-icon {
    max-width: max-content;
    margin: auto;
    transition: 500ms ease;
}

.strength:hover .card-icon {
    transform: scale(-1) rotate(180deg);
    transition: 500ms ease
}

.ctaSection {
    background: url(/src/assets/ctaSection.jpg);
    background-size: cover;
}

.testimonial {
    background-color: #121011;
}